<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Ace in the Hole</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/slicknav.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
    
<body>
    
    <header>
        <img src="../images/AITH_black_on_transparent_Impact.png" alt="Ace in the hole logo">
        
    </header>
    
    <main>
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        
        <h1>Heading 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia, orci vitae tincidunt facilisis, urna odio convallis erat, quis tempor ante enim et ante. Aliquam sit amet leo sed odio pellentesque vehicula ac sit amet tortor. Donec volutpat, augue vel placerat malesuada, sem sapien facilisis lorem, at congue orci dolor ac nulla. Nullam et ex nec diam consequat gravida. Nam ipsum mi, facilisis vel interdum eget, facilisis vitae enim. Etiam ligula tellus, semper ac accumsan in, ultricies et magna. Sed ipsum neque, posuere quis laoreet sit amet, dignissim sit amet mi. Integer vel aliquet est. Fusce nec pretium nunc.</p>
        <p>
        Nullam vulputate tortor sit amet dolor pellentesque, et viverra enim lobortis. Ut finibus massa non ligula porttitor tristique. Nulla nisl est, posuere ut luctus id, hendrerit malesuada metus. Donec nec dignissim ante, eget ultricies nunc. Pellentesque iaculis justo sem. Etiam porta efficitur malesuada. Suspendisse convallis ut sem nec ultricies. Quisque at purus metus. Donec bibendum consectetur aliquet. Sed eget sem a est suscipit eleifend sed eget lorem.</p>
       
    </main>
    
    <footer>
        <section>
            <p>Follow us in Facebook and Twitter!</p>
            <a class="social" href="https://www.facebook.com/cas222cascade/community/" target="_blank"><img src="../images/fblogo.png"></a>
            <a class="social" href="https://twitter.com/pcccas222?lang=en" target="_blank"><img src="../images/tlogo.png"></a>
        </section><br>
        <small>Copyright©2020 By Dawn Shreves</small><br>
        <small>Ace in the Hole Multisport Event</small><br>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/jquery.slicknav.js"></script> 
    <script>$('.menu').slicknav();</script>
    
</body>
    
</html>