/*
File: style.less
Date: 01/27/2020
Programmer: Dawn Shreves
*/
/*


MOBILE STYLESHEET

*/
body {
  height: 100%;
}
header {
  height: 100%;
  background-color: #ff0000;
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 4px 5px 4px rgba(92, 85, 82, 0.5);
}
header img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav ul li a {
  font-size: 30px;
}
.slicknav_menu {
  margin-top: 80px;
  margin-bottom: 10px;
  position: absolute;
  width: 40%;
  background: transparent;
  float: right;
}
.slicknav_menu li {
  background: #000000;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
}
.menu {
  display: none;
}
h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 35px;
  font-family: Verdana, sans-serif;
}
main {
  background-color: #f5f3f1;
  border-radius: 7px;
  box-shadow: 4px 5px 4px rgba(92, 85, 82, 0.5);
  padding-top: 50px;
  padding-bottom: 10px;
}
main section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div .slideShow {
  position: absolute;
  padding-top: 50px;
}
div .slideShow img {
  height: 100%;
  width: 100%;
}
.aceSlides {
  display: none;
}
.buttonLeft {
  color: #ffffff;
  font-weight: bold;
  background-color: #000000;
}
.buttonRight {
  color: #ffffff;
  font-weight: bold;
  background-color: #000000;
}
.socialFeed {
  text-align: center;
  padding-bottom: 10px;
}
.fbFeed {
  padding-left: 20px;
}
p {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#infoImg1 {
  width: 100%;
}
.toggle {
  padding-left: 30px;
}
#infoImg2 {
  display: none;
}
#infoImg3 {
  display: none;
}
dt {
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}
a #h1reg {
  color: #000000;
  text-decoration: none;
}
.column3 {
  padding-left: 30px;
}
.column3 h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.column3 p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.column4 {
  padding-left: 30px;
}
.column4 h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.column4 p {
  margin-top: 5px;
  margin-bottom: 5px;
}
h2 {
  padding-left: 40px;
}
.CI {
  margin-left: 30px;
  margin-right: 20px;
}
form {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
form .info {
  float: left;
  width: 100px;
  clear: left;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}
form .checkbox {
  display: inline-block;
  margin-bottom: 20px;
}
form input,
form textarea {
  margin-top: 10px;
  display: block;
}
form #mySubmit {
  margin-left: 110px;
}
form .eContact {
  margin-top: 20px;
}
#regImg {
  display: none;
}
#conImg {
  display: none;
}
footer {
  height: 100%;
  width: 100%;
  background-color: #ff0000;
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-shadow: 4px 5px 4px rgba(92, 85, 82, 0.5);
}
footer .social img {
  height: 40px;
  width: 40px;
  border-radius: 7px;
}
footer small {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
/*

     TABLET STYLESHEET

     The following CSS affects all screen sizes larger than 480 pixels wide.

     */
@media only screen and (min-width: 481px) {
  body {
    background-color: #BBB3B2;
  }
  header {
    padding-bottom: 20px;
    width: 99%;
    margin: auto;
  }
  .menu {
    display: block;
  }
  nav {
    width: 99%;
    margin: 10px auto 10px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #f5f3f1;
    border-radius: 7px;
    box-shadow: 4px 5px 4px rgba(92, 85, 82, 0.5);
  }
  nav ul li {
    display: inline;
    padding-right: 10px;
  }
  nav ul li a {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #ffffff;
    background-color: #000000;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 7px;
    box-shadow: 4px 5px 4px rgba(92, 85, 82, 0.5);
  }
  .slicknav_menu {
    display: none;
  }
  main {
    width: 99%;
    background-color: #f5f3f1;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  main #infoImg2 {
    display: block;
    float: right;
    width: 50%;
    padding-left: 10px;
  }
  main #infoImg3 {
    display: block;
    float: right;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  main .CI {
    margin-left: 30px;
    margin-right: 20px;
  }
  main h2 #CI {
    padding-top: 30px;
  }
  main .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .column1 {
    padding-left: 20px;
  }
  main .column2 {
    padding-left: 70px;
  }
  main .column3 {
    padding-left: 50px;
  }
  main .column5 {
    padding-left: 300px;
    padding-bottom: 20px;
  }
  main .column6 {
    padding-right: 20px;
  }
  main .column7 {
    padding-left: 300px;
    padding-bottom: 20px;
  }
  main .column8 {
    padding-right: 20px;
  }
  main .about {
    padding-left: 20px;
    padding-right: 60px;
  }
  main .weather {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    padding-top: 10px;
  }
  main .socialFeed {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .fbFeed {
    justify-self: end;
  }
  main .info1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main #regImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main #conImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    height: 100%;
    width: 99%;
    margin: 10px auto 10px auto;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  footer p {
    float: right;
    margin-top: 28px;
  }
  footer aside .small {
    width: 400px;
    height: 50px;
    padding-right: 90px;
    padding-bottom: 50px;
    float: right;
    display: block;
    text-align: center;
  }
  footer .social img {
    height: 40px;
    width: 40px;
    float: right;
    display: inline;
    position: relative;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 7px;
  }
}
/*

     DESKTOP STYLESHEET

     The following CSS affects all screen sizes larger than 1024 pixels wide.

     */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  nav a:hover {
    color: #ff0000;
  }
  main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #faq {
    padding-top: 50px;
  }
  #h1reg {
    padding-top: 50px;
  }
  .toggle {
    padding-bottom: 20px;
  }
  .column1 {
    padding-left: 40px;
  }
  .socialFeed {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .socialFeed .fbFeed {
    padding-left: 200px;
  }
  .socialFeed .twitter-timeline {
    margin-left: 80px;
  }
  #CI {
    margin-top: 50px;
  }
  .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
  }
  aside.column5 {
    padding-left: 40px;
  }
  .column6 {
    padding-top: 100px;
  }
  footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  footer section {
    padding-right: 200px;
  }
  footer section .social img {
    margin: 20px;
  }
  footer small {
    padding-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */